body {
  font-family: Arial, Helvetica, sans-serif;
}

#titulo {
  text-align: center;
  padding: 20px;
  background-color: #1359c4;
  color: #ffffff;
}

*:focus {
  outline: 0;
  border-color: #1778f2;
}

table {
  border-collapse: collapse;
  width: 50%;
}

label {
  margin-right: 6px;
  width: 70px;
  text-align: center;
}

th,
td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

td {
  border: 1px solid #d7d7d7;
}

th {
  background-color: #535743;
  color: white;
}

input {
  font-size: 15px;
  padding: 10px 8px;
  border-radius: 6px;
  width: 90%;
  border: 1px solid #ffffff;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.menu-algoritmos {
  /* padding: 10px 0; */
  text-align: center;
}
.menu-algoritmos select {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 6px;
  /* border: 1px solid #ffffff; */
  background-color: #4564c7;
  color: #ffffff;
  cursor: pointer;
}
.menu-algoritmos select:hover {
  background-color: #2a58bd;
}

.menu-opciones{
  display: flex;
  justify-content: end;
  margin: 20px;
}

.myButton {
  background-color: #4564c7;
  border-radius: 6px;
  border: transparent;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 10px 25px;
  width: 170px;
}

.menu-boton {
  background-color: #4564c7;;
  border: transparent;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 10px 25px;
  margin-left: 10px;
}

.myButton:hover, .menu-boton:hover {
  background-color: #2a58bd;
}

.tabla-1{
  display:inline; 
  width: 500px; 
  text-align: center; 
  display: none;
}

.tabla-2{
  display:inline; 
  width: 580px; 
  text-align: center; 
  display: none;
}

.caja-gen {
  display: flex;
  padding-bottom: 20px;
}

.row {
  display: flex;
}

.contenedor {
  display: flex;
  justify-content: center;
}
.contenido_tabla {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contenedor-primario{
  border-radius: 20px;
  margin-top: 20px;
  background-color: #dadada;
  padding-bottom: 10px;

}

.row-est {
  display: inline;
  width: 580px;
  margin-right: 20px;
}

.form-est {
  text-align: left;
}